.not-found{
    background-color: #ff814c;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-found img{
    width: 500px;
}
.not-found h2{
    font-size: 42px;
}
.error-btn{
    background-color: #fff;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
    color: #000;
    font-weight: 700;
}