.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
}
.nav-bar a{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 0 12px;
    padding: 8px;
    text-decoration: none;
}
.nav-bar{
    display: flex;

}
@media (min-width: 320px) and (max-width: 480px) {
  
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 19px 0;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
  }

